<clr-main-container>
  <clr-header class="header-6">

    <div class="branding">
      <a href="#" class="nav-link">

        <!--<span class="clr-icon clr-clarity-logo"></span>-->
          <clr-icon shape="cloud-traffic"></clr-icon>
        <span class="title">Restoring data</span>
      </a>

    </div>



    <!--<div class="header-nav" [clr-nav-level]="1">-->
      <!--<div>-->

        <!--<a class="nav-link" href="#" [routerLink]="['/allstudent']" routerLinkActive="active">-->
          <!--<span class="nav-text">University entrants</span>-->
        <!--</a>-->

        <!--<a class="nav-link" href="#" [routerLink]="['/student-course-group']" routerLinkActive="active">-->
          <!--<span class="nav-text">Additional info</span>-->
        <!--</a>-->

        <!--<a class="nav-link" href="#" [routerLink]="['/searchstudent']" routerLinkActive="active">-->
          <!--<span class="nav-text">History of pay</span>-->
        <!--</a>-->

      <!--</div>-->
<!--</div>-->


  </clr-header>

<!--Тесты навигации-->
<!--<div class="main-container">-->
  <!--<div class="alert alert-app-level">-->

  <!--</div>-->

  <!--&lt;!&ndash;<header class="header header-6">&ndash;&gt;-->

  <!--&lt;!&ndash;</header>&ndash;&gt;-->

  <!--<div class="content-container">-->
    <!--<div class="content-area">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
    <!--<nav class="sidenav">-->

    <!--</nav>-->
  <!--</div>-->

<!--</div>-->
<!--Конец теста-->

<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
</clr-main-container>

